WindowsFormsApplication1/Service References/ServiceReference1/RobotServicesMessage2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/RobotServicesMessage?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RobotServices" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestCancelAMRAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AMRId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestCancelAMRActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RobotServices" minOccurs="0" name="RequestCancelAMRActionResult" nillable="true" type="q1:RequestCancelAMRActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestCancelAMRActionGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AMRId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActionGroupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestCancelAMRActionGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RobotServices" minOccurs="0" name="RequestCancelAMRActionGroupResult" nillable="true" type="q2:RequestCancelAMRActionGroupResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestAMRAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RobotServices" minOccurs="0" name="arg" nillable="true" type="q3:ArrayOfRequestAMRActionArg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestAMRActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RobotServices" minOccurs="0" name="RequestAMRActionResult" nillable="true" type="q4:RequestAMRActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestTempChangeAMRArea">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestTempChangeAMRAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RobotServices" minOccurs="0" name="RequestTempChangeAMRAreaResult" nillable="true" type="q5:RequestTempChangeAMRAreaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowAMRActionStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AMRId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowAMRActionStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RobotServices" minOccurs="0" name="GetNowAMRActionStatusResult" nillable="true" type="q6:GetNowAMRActionStatusResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowAMRStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AMRId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowAMRStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RobotServices" minOccurs="0" name="GetNowAMRStatusResult" nillable="true" type="q7:GetNowAMRStatusResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowAMRErrors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AMRId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowAMRErrorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RobotServices" minOccurs="0" name="GetNowAMRErrorsResult" nillable="true" type="q8:GetNowAMRErrorsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>